doctype html

html
  header
    include ../templates/head
    
  body
      include ../templates/navbar
      div#about
      div#bannertop
        div.contentwidth
          div#bannerhold
            div#bannercomp
            div#bannervetalign
              div.headline Calvin Hutcheon
              div#headshot
                img#headhello(src='/images/headshot.jpg')
              .headline crafts products for 
              #twoheadline 
                .headline an 
                  span#call animate
                div#deffintion
                  div#word Animate <span id="wordkind">NOUN</span>
                  div#pronounce \ker\
                  div
                    div.defbox
                      div.defsubnum 1.
                      div.defsub Alive, endowed with agency, worthy of care.
              .bottomheadline        
                .headline world
                .linebase
                .button 
                  div.bggrad
                  div.bttntxt Read My Manifesto
                #smallline
                #scrollbox
                  #mousepic
                    img#downpic(src='/images/i-mousedown.png')
                  #mouseword or scroll down
              
      div.variablehold  
              
        div.contentwidth#holdeleft
          div.abouthor
            div.abouthold
              div.aboutheight
              div.aboutme
                h1.btitling Welcom to my Practice
                p.bbody I’m a multidisciplinary creative and a steward for emergent product visions. I design, <a href="https://medium.com/@millennialglyph">write about design</a>, <a href="https://github.com/millenniallglyphs">build with code</a> and facilitate teams.   
                p.bbody I get excited about monetary systems, ecologies and their intersections. Contributing to open source projects is an important part of my practice.
                  
        div#contentbg
          div.contentwidth 
                
            mixin contened(title, call, team, time, roles, bodycopy, casestudy, featimg)
              .contentbox
                .faturedimg
                  img.featdim(src=featimg)
                .aboutproject
                  .projectinfo
                    h1.titling= title
                    .linkcall
                      img.projicon(src='/images/i-web.png')
                      .site
                        a.sitelink=call
                  .projectnotes
                    .greybox  
                      img.projicon(src='/images/i-team.png')
                      .team=team
                    .greybox 
                      img.projicon(src='/images/i-cal.png')
                      .time=time
                  .rolesbox
                    .roles My Roles
                    .rolelist=roles 
                div.projectdesc
                  p.body=bodycopy
                div.caselink
                  .casegrad
                  .casetxt
                    a.casea(href=casestudy) Read the casestudy
                  
                  
                    
            +contened(
              'Epiphyte', 
              'See the site', 
              'just me', '3 months', 
              'UI/UX Design, Development, Content Creation, Branding',
              'Epiphyte is a prototype for a new kind of economy, that uses living sensors to account for the externalities of industry.',
              '/epiphyte',
              '/images/botshot.gif'
              )
              
            +contened(
              'Abacus', 
              'See the site', 
              'just me', '3 months', 
              'UI/UX Design, Development, Content Creation, Branding',
              'Epiphyte is a prototype for a new kind of economy, that uses living sensors to account for the externalities of industry.',
              '/abacus',
              '/images/newdim_abacus_00.jpg'
              )
              
            +contened(
              'Bitclaims', 
              'See the site', 
              'just me', '3 months', 
              'UI/UX Design, Development, Content Creation, Branding',
              'Epiphyte is a prototype for a new kind of economy, that uses living sensors to account for the externalities of industry.',
              '/bitclaims',
              '/images/bitclaims/newdim_bitclaims_04.gif'
              )
            
            +contened(
              'Botnet', 
              'See the site', 
              'just me', '3 months', 
              'UI/UX Design, Development, Content Creation, Branding',
              'Epiphyte is a prototype for a new kind of economy, that uses living sensors to account for the externalities of industry.',
              '/botnet',
              '/images/newdim_botnet_00.jpg'
              )
            //  
              +contened(
                'Arthur', 
                'See the site', 
                'just me', '3 months', 
                'UI/UX Design, Development, Content Creation, Branding',
                'Epiphyte is a prototype for a new kind of economy, that uses living sensors to account for the externalities of industry.',
                'link',
                '/images/newdim_arthur_00.gif'              
                )
            
            
      div.contentwidthff
        div#aboutgrid
          div#counterpic
            img#composing(src='../images/compose.png')
          div#aboutme
            div.abouthor
              div.abouthold
                div#thanks
                  h1.btitling I couldn't have done it alone
                  p.bbody A huge thanks to people who helped me along the way. I couldn’t have done this without your help. A special shoutout to: 
                  p.bbody
                  .thankyouhold
                    .thankscol
                      a(href="https://caleb.world/") Caleb Miller
                      br   
                      a(href="https://www.alexsingh.com/") Alex Singh
                      br 
                      a(href="") Tanvi Sharma 
                      br 
                      a(href="http://kristian.bjornard.com/") Kristian Bjornard
                    .thankscol
                      a(href="https://www.maximiliandesign.me/") Max Griffin
                      br 
                      a(href="") Is Levin
                      br 
                      a(href="") Danny Varrailas 
                      br 
                      a(href="https://realsteve.onuniverse.com/") Steve Kistner 
                      br 
                      a(href="") Joseph Potvin   
      div.try
        include ../templates/flame
        include ../templates/mobilefooter
        
                
      include ../templates/scripts
          
            
            
        
              
          

              
